@import url('https://fonts.googleapis.com/css?family=Karla');
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Karla', sans-serif;
   background-color: #eae5e5;
}
header{
	height: 70px;
	position: fixed;
	width: 80%;
	top: 0px;
	left: 0px;
	z-index: 50;
	margin-left: 272px;
	background-color: white;

}
header > #logo{
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	color: white;
	font-size: 2rem;
	line-height: 2.2;
}
header  > form{
	width: 25%;
	height: 100%;
	float: left;
	line-height: 4;
	padding-left: 30px;
}
.bu input[type="search"]{
	padding: 3px;
	height: 30px;
	margin-left: 20px;
	border: none;
	color: black;
	outline-color: black;

}
header > form > button{
	width: 30px;
	height: 30px;
	color: white;
	border: none;
	background-color: #eabe20;
	margin-left: 70px;
	margin-top: 20px;
}

 .s{
	 margin-top: -15px;
 }
header > ul{
	width: 50%;
	height: 100%;
	margin-left: 910px;
}
header > ul >li{
	float: left;
	width: 30%;
	list-style: none;
	font-size: 1.6rem;
	line-height: 3.5;
	color: gray;
	margin-left: -80px;

}
header > ul > li:nth-child(3){
	width: 30%;

}


button,input[type="submit"]{
	width: 150px;
	height: 30px;
	padding: 5px;
	border: none;
	border-radius:5px;
	text-transform: uppercase;
	background-color: #fcfcfc;
	color:black;
}


.user{
	border-radius: 100%;
	margin-top: -8px;
	margin-left: -20px;



}

.userr{
	border-radius: 100%;
	margin-top: 30px;
	margin-left: 60px;


}


nav{
	width: 20%;
	height: 100%;
	color: black;
	float: left;
	position: fixed;
	top: 72px;
	left: 0px;
}
section#contenedor{
	width: 79%;
	float: right;
	margin-top: 72px;

}
nav ul li a{
	color: gray;
	font-size: 1.3rem;
	text-decoration: none;

}
.con{
	background-color: #1e1c17;
	margin-top: -77px;

}
nav ul li{
	height: 50px;
	margin-top: 20px;
	padding-left: 35px;
}
nav ul li:hover{
	 background-color: rgba(0,0,0,0.3);

}
#titulo{
	padding-top: 10px;
	font-size: 1.7rem;

}

.ti{
	margin-top: -20px;
	text-align: center;
	background-color: #1d275e;
	height: 100px;



}
.ti h2{
  color: white;
  font-family: 'Karla', sans-serif;
}
.contendo{
	margin-top: 75px;

}

.tt{
margin-left: 20px;
}
.contenedor{
	margin-top: 150px;
}
.bu{
	margin-left: 100px;
	margin-top: -60px;
}
.contenedor{
	background-color: #eae5e5;;
}

.mas{
	border-radius: 5px;
	margin-left: 130px;
	margin-top: -70px;
	
}
