+


@media only screen and (max-width: 576px){
	header{
		background-color: red;
	}
	nav{
		display: none;
	}
	/* sdfsdfsdfsdfdsf */
	#contenedor{
		width: 100% !important;
	}
}
@media only screen and (max-width: 768px){
	header{
		background-color: red;
	}
}